* {

  border: 5px;
  color: black;
 }
a {
  text-decoration: none;
}
body {
  background-color:#eedcad
  padding-left: 50px;
}

h1 {

  height:60px;
	width: 900px;
  padding: 10px 0px 10px 50px;
}
h2 {
  height: 50px;
	width: 900px;
	border-radius: 5px;
  padding: 5px ;
}
#footer {
	position: relative;
	padding-left: 15px;
